{% import "@SyliusShop/shared/macro/money.html.twig" as money %}

{% set cart = hookable_metadata.context.cart %}

{% if not cart.isEmpty %}
    <div class="p-3 pb-5">
        <div class="border-top pt-4">
            <div class="d-flex justify-content-between py-3">
                <div class="h5 mb-0">{{ 'sylius.ui.subtotal'|trans }}:</div>
                <div class="h5 mb-0 text-end">{{ money.convertAndFormat(cart.itemsTotal) }}</div>
            </div>
            <div class="d-grid gap-2">
                <a href="{{ path('sylius_shop_cart_summary') }}" class="btn btn-light">
                    {{ ux_icon('tabler:shopping-cart', { class: 'icon icon-sm me-2' }) }}
                    {{ 'sylius.ui.view_and_edit_cart'|trans }}
                </a>
                <a href="{{ path('sylius_shop_checkout_start') }}" class="btn btn-primary">
                    {{ ux_icon('tabler:credit-card', { class: 'icon icon-sm me-2' }) }}
                    {{ 'sylius.ui.checkout'|trans }}
                </a>
            </div>
        </div>
    </div>
{% endif %}