{% form_theme form '@SyliusShop/form/theme.html.twig' %}

<div {{ attributes }}>
    {{ form_start(form, {'attr': {'style': 'display: none;'}}) }}
    {{ form_row(form._token) }}
    {{ form_end(form, {'render_rest': false}) }}
    
    {# Bouton simple pour une variante spécifique #}
    <button type="button" 
            class="btn btn-primary fw-semibold w-100"
            data-action="live#action"
            data-live-action-param="addToCart"
            data-live-variant-id-param="{{ variantId }}">
        {{ ux_icon('tabler:shopping-cart-plus', { class: 'icon icon-sm me-2' }) }}
        {{ 'app.ui.add_to_cart'|trans }}
    </button>
</div>