{% macro delete_icon(url, title = 'sylius.ui.delete', icon = 'tabler:x', resourceId = null, class = 'btn btn-xs btn-link text-muted p-0') %}
    <form method="post" action="{{ url }}" class="d-inline">
        <input type="hidden" name="_method" value="DELETE">
        <button type="submit" 
                class="{{ class }}"
                title="{{ title|trans }}"
                data-requires-confirmation>
            {{ ux_icon(icon, { class: 'icon icon-xs' }) }}
        </button>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token(resourceId) }}" />
    </form>
{% endmacro %}

{% macro copy_to_clipboard(text, title = 'app.ui.copy', icon = 'tabler:copy', class = 'btn btn-xs btn-link text-muted p-0') %}
    <button type="button" 
            class="{{ class }}"
            title="{{ title|trans }}"
            onclick="navigator.clipboard.writeText('{{ text|e('js') }}')">
        {{ ux_icon(icon, { class: 'icon icon-xs' }) }}
    </button>
{% endmacro %}