{% import '@SyliusShop/shared/buttons.html.twig' as buttons %}

<button class="btn btn-shop-icon" data-bs-toggle="dropdown" aria-expanded="false">
    {{ ux_icon('tabler:adjustments') }}
</button>
<ul class="dropdown-menu dropdown-menu-end">
    <li>
        {{ buttons.transparent(path('sylius_shop_account_dashboard'), 'sylius.ui.my_account'|trans, 'user-account-button', 'tabler:user', 'dropdown-item') }}
    </li>
    <li>
        {{ buttons.transparent(path('app_shop_tokens_buy'), 'app.ui.add_tokens'|trans, 'user-add-tokens-button', 'tabler:plus', 'dropdown-item') }}
    </li>
    <li>
        {{ buttons.transparent(path('app_shop_video_generation_create'), 'app.ui.generate_video_menu'|trans, 'user-video-button', 'tabler:video', 'dropdown-item') }}
    </li>
    <li>
        {{ buttons.transparent(path('app_shop_video_generation_index'), 'app.ui.view_generations'|trans, 'user-video-list-button', 'tabler:list', 'dropdown-item') }}
    </li>
    <li><hr class="dropdown-divider"></li>
    <li>
        {{ buttons.transparent(path('sylius_shop_logout'), 'sylius.ui.logout'|trans, 'user-logout-button', 'tabler:logout', 'dropdown-item') }}
    </li>
</ul>